@media (max-width: 800px){
    header{
        display: none;
    }
}

@media (max-width: 991px){
    .navegacion{
        a{
            padding-top: 0px;
            width: 140px;
        }
    }
}

@media (min-width: 1080px){
    .navegacion{
        h2{
            display: none;
        }
    }
}

@media (min-width: 800px){
    .navegacion{
        h2{
            padding-right: 320px;
        }
    }
}

@media (max-width: 991px){
    .musica{
        padding-top: 5px;
    }
}

@media (max-width: 991px){
    .conciertos{
        padding-top: 5px;
    }
}

@media (max-width: 991px){
    .resenia{
        padding-top: 5px;
    }
}

@media (max-width: 500px){
    .buscador{
        margin-top: 15px;
    }
}

@media (max-width: 991px){
    .principal{
        margin-top: 10px;
    }
}

@media (max-width: 991px){
    .principal-com{
        img{
            width: 170px;
            height: 120px;
        }
    }
}

@media (max-width: 500px){
    .principal-com{
        div{
            padding-left: 25px;
        }
        img{
            width: 100px;
            height: 100px;
        }
    }
}

@media (max-width: 991px){
    .seccion-noticias{
        h3{
            padding-top: 50px;
        }
    }
}

@media (max-width: 991px){
    .noticias-com{
        div{
            padding-left: 25px;
        }
    }
}

@media (max-width: 991px){
    .seccion-popular{
        div{
            padding-left: 25px;
        }
        h3{
            padding-top: 50px;
            padding-left: 0px;
        }
    }
}

@media (max-width: 500px){
    .conciertos-discos{
        background-position: center;
        h4{
            padding-left: 15px;
        }
        h2{
            font-size: 25px;
            inline-size: 220px;
            padding-left: 15px;
        }
        p{
            padding-left: 15px;
        }
    }
}

@media (max-width: 800px){
    .seccion-conciertosdisc{
        div{
            padding-left: 5px;
        }
        img{
            width: 186px;
            height: 134px;
        }
    }
}

@media (max-width: 800px){
    .popular-conciertosdisc{
        img{
            width: 100px;
	        height: 100px;
        }
        div{
            padding-left: 40px;
        }
        h3{
            padding-left: 40px;
        }
    }
}

@media (max-width: 500px){
    .popular-conciertosdisc{
        div{
            padding-left: 25px;
        }
        h3{
            padding-left: 15px;
        }
    }
}

@media (max-width: 500px){
    .grid-contacto{
        display: none;
    }
}