@media (max-width: 991px){
    .principal{
        margin-top: 10px;
    }
}

@media (max-width: 991px){
    .seccion-noticias{
        h3{
            padding-top: 50px;
        }
    }
}

@media (max-width: 991px){
    .seccion-popular{
        h3{
            padding-top: 50px;
        }
    }
}

@media (max-width: 991px){
    .conciertos-discos{
        background-position: center;
    }
}